body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    padding:1vh;
}

nav {
    background-color:rgb(255, 173, 20);
    display: flex;
    justify-content: center;
}

.link {
    cursor:pointer;
    padding:1vw;
}

.link:active {
    background-color: rgb(255, 184, 52);
}

#thePages {
    margin: 1%;
}

img {
    max-width: 10%;
}

figure {
    text-align: center;
}

.bioImages {
    background-color:rgb(29, 29, 29);
    padding:5vw;
    border-radius:1vw;  
    transition:top ease 0.2s;
    position:relative;
    top:10px;
}

.bioImages:hover {
    background-color:rgb(53, 53, 53);
    top:-1vw;
}

#pBio {
    text-align: center;
}

li {
    background-color:rgb(255, 173, 20);
    padding:1vw;
    border-radius:1vw;
    margin:1vw;
    border-right:1vw solid dodgerblue;
}