body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    text-align: center;
    color:rgb(167, 108, 0);
    text-shadow:1vw 1vw 5vw gray;
}

h4 {
    background-color:dodgerblue;
    margin-right:85%;
    padding:1vh;
    border-radius:1vw;
    border-right:1vw solid rgb(255, 166, 0);
}

h3 {
    background-color:white;
    padding:1vw;
    border-radius:1vw;
}

a:active {
    color:rgb(167, 108, 0);
}

code {
    background-color:rgb(10, 10, 10);
    color:white;
    padding:0.5vw;
    border-radius:0.1vw;
    letter-spacing: 0.3;
}

li {
    padding:1vw;
}

form {
    text-align: center;
}

.questions {
    background-color:rgb(226, 147, 0);
    padding:1%;
    border-radius:5vw;
}

#button {
    display:flex;
    justify-content: center;
}

button {
    background-color: lime;
    padding:1vw;
    border-radius:1vw;
    border:1vw solid lime;
    cursor:pointer;
    outline:transparent;
    font-size:2vw;
}

button:active {
    background-color:rgb(64, 255, 64);
    border-color:rgb(64, 255, 64);
}

#buttons {
    display: flex;
}

.material-icons {
    cursor:pointer;
    position:relative;
    left:90%;
    padding-left:1vw;
}

#like {
    color:dodgerblue;
}

#star {
    color:rgb(194, 165, 0);
}