body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    padding:1vh;
}

nav {
    background-color:rgb(255, 173, 20);
    display: flex;
    justify-content: center;
}

.link {
    cursor:pointer;
    padding:1vw;
}

.link:active {
    background-color: rgb(255, 184, 52);
}

#thePages {
    margin: 1%;
}

img {
    max-width: 10%;
}

figure {
    text-align: center;
}

.bioImages {
    background-color:rgb(29, 29, 29);
    padding:3vw;
    border-radius:1vw;  
    transition:top ease 0.2s;
    position:relative;
    top:10px;
}

.bioImages:hover {
    background-color:rgb(53, 53, 53);
    top:-1vw;
}
#pBio {
    text-align: center;
}

.qa {
    background-color:rgb(255, 173, 20);
    padding:1vw;
    border-radius:1vw;
    margin:1vw;
    border-right:1vw solid dodgerblue;
}

#contact {
    font-size:2vw;
    letter-spacing:1px;
}

#accountManagement {
    display:flex;
    flex-direction: row-reverse;
    position: absolute;
    left:80%;
    margin-left:1vw;
}

#signUp::selection {
    background-color:none;
}

#logIn::selection  {
    background-color:none;
}

#signUp:active {
    background-color:lightgray;
    border-radius:1vw;
}

#logIn:active  {
    border-radius:1vw;
}

#container {
    display:flex;
    justify-content: center;
    flex-direction: column;
}

input {
    padding:1vw;
    margin:1vw;
    background-color:rgb(102, 102, 102);
    border:1vw solid rgb(102, 102, 102);
    border-radius:1vw;
    font-size:2.5vw;
    color:white;
    outline:transparent;
}

#sign {
    padding:1vw;
    margin:1vw;
    background-color: lime;
    border:1vw solid lime;
    border-radius:1vw;
    font-size:2.5vw;
}

input::placeholder {
    color:white;
}

#forgotPassword {
    display: flex;
    justify-content: center;
    color:rgb(94, 94, 255);
    cursor:pointer;
}

#forgotPassword:hover {
    color:rgb(128, 128, 255);
}

.material-icons {
    padding:1vw;
}

.userInput {
    display: flex;
    justify-content: center;
}

#logIn {
    text-align: center;
}

#forgotPasswordBtn {
    cursor: pointer;
    color:blue;
    padding:1vw;
    font-size:1.5vw;
    
}

#loginButton {
    background-color:lime;
    border:1vw solid lime;
    border-radius:1vw;
    cursor:pointer;
    font-size:120%;
}

table {
    width:100%;
    background-color: orange;
    padding:1vw;
    border:1px solid black;
}

#table-website {
    text-align: center;
}

tr {
    border:1px solid black;
}

.name {
    padding-left:5vw;
    padding-bottom:1vh;
    font-weight:600;
}

.explain {
    padding-left:6vw;
    padding-bottom:1vh;
}

button {
    cursor:pointer;
    outline:transparent;
    box-shadow:0.5vw 0.5vw 10vw gray;
    padding:1vw;
}

#remove {
    display:flex;
    justify-content: center;
    flex-direction: row-reverse;
}

#removeEmail {
    background-color:red;
    border:1vw solid red;
    border-radius: 1vw;
    display: flex;
    align-self: center;
}

#shares {
    background-color:orange;
    padding:1vw;
    border-bottom-left-radius:1vw;
    border-bottom-right-radius:1vw;
    box-shadow:0 1vw 5vw gray;
}

/*aafasdasdfasdfsadasgasaadsdfasdfasdfdfasdffasdf*/

#bar {
    width: 100px;
    height: 100px;
    display:flex;
    box-shadow:1vw 1vw 5vw gray;
    margin-left: 1vw;
}

#GitHub-website {
    background-color:rgb(15, 15, 15);
}

#GitLab-website {
    background-color:purple;
}

#BitBucket-website {
    background-color:rgb(0, 110, 255);
}

#SourceForge-website {
    background-color:red;
}